@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");


.top-section {
    background-color: #fb4e71;
    font-family: "Roboto";
    color: #ffffff;
    padding: 15px;
    margin-left: 9px;
}

.middle-section-para {
    color: #888888;
    font-size: 15px;
}

.middle-section-category {
    color: #323f4b;
    font-size: 17px;
    margin-bottom: 17px;
    margin-top: 17px;
    font-weight: bold;
    margin-left: 9px;
}

.middle-section-heading {
    color: #323f4b;
    font-size: 15px;
    margin-bottom: 7px;
    margin-top: 5px;
    font-weight: 400;
}

.top-section-heading {
    font-size: 29px;
    font-weight: bold;
}

.top-section-para {
    font-size: 15px;
}

.bottom-section {
    padding-left: 15px;
    padding-right: 15px;
    font-family: "Roboto";
    height: 500px;
}

.middle-section-details {
    padding: 9px;
}

.bottom-section-heading {
    color: #323f4b;
    font-size: 19px;
    margin-bottom: 17px;
    margin-top: 17px;
    font-weight: bold;
    margin-left: 9px;
}

.video-container {
    color: #323f4b;
    font-size: 13px;
    padding-left: 9px;
    width: 117px;
}

.bottom-section-para {
    padding-top: 9px;
    padding-right: 15px;
}
.button {
    text-align: center;
    margin: 20px;
}

.records-container{
    margin-left: 9px;
}
